@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: lato, sans-serif;
}

.container {
  height: 300px;
  width: 300px;
  border: 1px solid rgb(49, 39, 39);
  border-radius: 5px;
  margin: 10rem auto;
  text-align: center;
  background: linear-gradient(rgba(203, 200, 0, 0.626), rgba(0, 0, 0, 0.177)),
    url("../images/image.webp");
  background-size: cover;
  background-position: center;
}

.container > input,
.container button {
  display: block;
  margin: 1rem auto;
}

.container button {
  width: 5rem;
  padding: 0, 3rem;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.928);
}

.container h3 {
  margin: 2rem;
  color: aliceblue;
  text-transform: capitalize;
}

.container p {
  font-size: 1.8rem;
  color: aliceblue;
}
